<p>add-task works!</p>
<table>
    <tr>
        <td>Task:</td>
        <td><input type="text"  [(ngModel)]="item.Name"></td>
    </tr>
    <tr>
        <td>Priority:</td>
        <td><input type="range" min="1" max="30"  [(ngModel)]="item.Priority"></td>
    </tr>
    <tr>
        <td>Startdate:</td>
        <td><input type="date"  [(ngModel)]="item.Startdate"></td>
    </tr>
    <tr>
        <td>Enddate:</td>
        <td><input type="date"  [(ngModel)]="item.Enddate"></td>
    </tr>
    <tr>
        <td colspan="2">
            <button (click)="Add()">Add Task</button>
            <button (click)="Reset()">Reset</button>
        </td>
    </tr>
</table>
<router-outlet></router-outlet>
